.pagination {
    &__btn {
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        border: 3px solid white;

        &:not(:last-of-type) {
            margin-right: 1rem;
        }

        svg path {
            fill: white;
        }
    }
}
