@import '../../Styles/abstracts.scss';

.book-card {
    position: relative;
    color: $font-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid black;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;

    &__title {
        margin-bottom: 0.5rem;
    }

    &__favorite {
        background: transparent;
        border: none;
        font-size: 2rem;
        z-index: 5;
        color: $font-light;
        cursor: pointer;
        padding: 0;
    }

    &__info {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.is-favorite {
    color: $brand-accent;
}
